
Welcome <%=@user.name%>


<div class="" >
	<h1>Level <%=@user.lvl%></h1>
	Q. <%=@q.question%>
	<%= form_tag( "/quiz",method: "post") do %><br/>
		<%= text_field_tag(:answer) %><br/><br/>
		<%=submit_tag("Answer") %>
		<h5>Score: <%=@user.score%></h5>
	<%end%>
</div>

